- @title = 'New Location'
- @action_items = {'Cancel' => admin_locations_path}
- @breadcrumbs = {'Home' => root_path, 'Locations' => admin_locations_path}

= render :partial => 'form', :object => @location
