- @title = 'New Category'
- @action_items = {'Cancel' => admin_categories_path}
- @breadcrumbs = {'Home' => root_path, 'Categories' => admin_categories_path}

= render :partial => 'form', :object => @category
