- @title = 'Edit Category'
- @action_items = {'Cancel' => @category}
- @breadcrumbs = {'Home' => root_path, 'Categories' => categories_path, @category.name => categories_path(@category)}

= render :partial => 'form', :object => @category
