- @title = @location.name
- @action_items = {'Edit Location' => edit_location_path(@location), 'Delete Location' => location_path(@location, :method => :delete, :confirm => 'Are you sure you want to delete this location?')}
- @breadcrumbs = {'Home' => root_path, 'Locations' => locations_path}

%table
  %tbody
    %tr
      %th Name
      %td= @location.name
    %tr
      %th Created At
      %td= @location.created_at.to_formatted_s(:long)
    %tr
      %th Updated At
      %td= @location.updated_at.to_formatted_s(:long)
